<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content" class="container">
  <div class="my-3 border-bottom">
    <h1 style="text-align:center; margin-bottom: 3vh;">임시 비밀번호 발급</h1>
    <form th:action="@{/user/tempPassword}" th:object="${tempPasswordForm}" method="post" id="tempPasswordForm">
      <div class="mb-3">
        <label for="username" class="form-label">사용자 이메일</label>
        <div id="result"></div>
        <input type="text" name="username" id="username" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary" style="margin: 0 auto;">임시 비밀번호 받기</button>
    </form>
  </div>
</div>
<th:block layout:fragment="javascript">
  <script>
    $(document).ready(function() {

      function emailCheck(email_address) {
        var email_regrex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
        return email_regrex.test(email_address);
      }

      function validateEmail() {
        var resultDiv = $("#result");
        var email = $("#username").val();

        if (!emailCheck(email)) {
            resultDiv.html('이메일 형식을 확인해 주세요.');

            resultDiv.css({
            "font-size": "16px",
            "color": "red",
            "margin-bottom": "8px"
            });

            return false;
        } else {
            resultDiv.html('');
            return true;
        }
     }

     // Bind the form submit event to validate the email
     $("#tempPasswordForm").on("submit", function(e) {
        if (!validateEmail()) {
            e.preventDefault(); // Prevent form submission if email is invalid
        }
     });

    });
  </script>
</th:block>
</body>
</html>
