<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="footerFragment" style="height: 10vh;">
    <footer style="display: flex; align-items: start; padding-top: 3vh;">
        <div class="container w-50">
            <ul class="row">
                <li class="col"><a href="#">이용약관</a></li>
                <li class="col"><a href="#">개인정보처리방침</a></li>
                <li class="col"><a href="#">청소년 보호방침</a></li>
                <li class="col"><a href="#">사업자 정보확인</a></li>
            </ul>
        </div>
        <div class="container w-25">
            <ul class="row">
                <li class="col">이메일: hyeri.jw1221@gmail.com &nbsp;</li>
                <li class="col">©MyWorld All rights reserved.</li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>
