<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content" class="container">
  <div class="main px-5 index-background" style="background-image: url(/img/tiger.jpg);
       background-repeat: no-repeat; background-position: center; background-size: cover; ">
      <div class="index_text">
        <h1>WELCOME TO</h1>
        <h2>MY WORLD</h2>
        <h3>귀여운 호랑이에 대해 이야기를 나눠봐요.</h3>
      </div>
      <div class="index_bg"></div>
  </div>
</div>
</body>
</html>
